{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xl-auto">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> List of Employee
                    <div class="clearfix"></div>
                    <form method="get">
                        <div class="float-left col-4"><input type="text" name="name" value="{{ name }}" placeholder="name" class="form-control"/> &nbsp;</div>
                        <div class="float-left col-4"><input type="text" name="age" value="{{ age }}" placeholder="Age" class="form-control"/> &nbsp;</div>
                        <div class="float-left col-4"><input type="submit" class="btn btn-primary" value="Search" name="search" placeholder="Age" class="form-control"/> &nbsp;</div>
                    </form>

                </div>

                <div class="card-body col-lg-12">
                    <table class="table table-responsive table-striped table-bordered ">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Image</th>
                                <th>Note</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for employee in employees %}
                            <tr>
                                <td>{{ employee.id }}</td>
                                <td>{{ employee.name }}</td>
                                <td>{{ age_list[employee.id] }}</td>
                                <td>{{ genders[employee.gender] }}</td>
                                <td><img src="{{ asset('uploads') }}/{{ employee.image }}" width="50px" height="5npm0px" class="img-thumbnail"/> </td>
                                <td>{{ employee.note }}</td>
                                <td>
                                    <a href="{{ path('employee_show', {'id': employee.id}) }}"><span><i class="fa fa-eye"></i></span></a>&nbsp;
                                    <a href="{{ path('employee_edit', {'id': employee.id}) }}"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                                </td>
                            </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

    <a href="{{ path('employee_new') }}" class="btn btn-primary">Add</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

